.modal-header {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}
.modal-body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

//frontEndPageStyle
.frontEndSkill {
  //background
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  opacity: 0;

  //-----------
  width: 330px;
  height: 330px;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
//----------------
//backEndPageStyle
.backEndSkills {
  scale: 0;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
.accordion-body {
  display: flex;
  flex-wrap: wrap;
}
//----------------
